* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background: linear-gradient(135deg, #0f0c29, #1b1b2f, #24243e);
  color: white;
  min-height: 100vh;
  padding: 30px;
}

/* HEADER */
header {
  text-align: center;
  margin-bottom: 30px;
}

header h1 {
  font-size: 2.5rem;
  background: linear-gradient(90deg, #a855f7, #ec4899);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* GLASS CARD */
.card {
  background: rgba(255, 255, 255, 0.05);
  border-radius: 15px;
  backdrop-filter: blur(15px);
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 0 20px rgba(168, 85, 247, 0.2);
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-5px);
}

/* INPUTS */
input, textarea {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  border: none;
  margin-top: 10px;
  background: rgba(255,255,255,0.1);
  color: white;
}

/* BUTTON */
button {
  background: linear-gradient(90deg, #a855f7, #ec4899);
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  color: white;
  cursor: pointer;
  margin-top: 10px;
  font-weight: 600;
}

button:hover {
  opacity: 0.8;
}

/* TASK LIST */
.task {
  display: flex;
  justify-content: space-between;
  background: rgba(255,255,255,0.08);
  padding: 8px;
  border-radius: 8px;
  margin-top: 10px;
}


